* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:serif;
}

nav {
    background-color: blue;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding: 22px 100px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 50px;
    align-items: center;
}

li{
    font-size: 17px;
}

a {
    text-decoration: none;
    color: #ffff;
    font-size: 16px;
}

a:hover {
    color: #000;
}

.hero {
    padding: 60px 100px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80vh;
    align-items: center;
}

.hero .content .image {
    margin: auto 0;
}

.content b {
    font-size: 40px;
    font-weight: 700;
}

.para {
    padding: 20px 0;
}

button{
    background-color: blue;
    padding: 10px 15px;
    border-radius: 5px;
    color: #ffff;

}

 h1{
    font-size: 70px;
}

footer {
    background-color: rgb(59, 55, 55);
    display: flex;
    margin-top: 42px;
    padding: 30px;
    justify-content: center;
    color: #ffff;
    gap: 30px;
}

address {
    margin-left: 100px;
}

.getouch{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.touch {
    text-align: center;
    width: 600px;
    background-color: rgba(179, 176, 176, 0.194);
    padding: 50px 50px;
    border: none;
    background-image: url(/Assignment_3/images/rodyrich.png);
    background-size: contain;
}

header{
    color: #ffff;
    font-size: 30px;
    font-weight: bold;
}

